/*-----------------*/
    /*VARIABLES*/
/*-----------------*/

// colors
$color-primary:#d89a57;
$color-secondary:#fffffff7;
$color-3:#26bb7b;

// Fonts
$fBody: 'Noto Sans', sans-serif;
$fTitle: 'Roboto', sans-serif;